<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signnary Prediction</title>
    <script>
        function submitForm() {
            var form = document.getElementById("uploadForm");
            var formData = new FormData(form);

            // Make a POST request to the /predict route
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display prediction result in a pop-up message
                alert('Predicted letter: ' + data.predicted_letter + '\nConfidence: ' + data.confidence);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }
    </script>
</head>
<body>
    <h1>Signnary Prediction</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" accept="image/*">
        <br>
        <button type="button" onclick="submitForm()">Predict</button>
    </form>
</body>
</html>
